{{#if success}}
<div class="alert alert-success" role="alert">
  {{success}}
</div>
{{/if}}
{{#if error }}
<div class="alert alert-warning" role="alert">
  {{ error }}
</div>
{{/if}}

<div class="card mx-auto mt-5" style="max-width: 600px;">
  <h5 class="card-header">Add New Customer</h5>
    <div class="card-body">
      <form action="/addcustomer" method="post">
        <div class="mb-3">
          <label for="cname" class="form-label">Customer Name : </label>
          <input type="text" class="form-control" id="cname" name="cname" required>
        </div>
        <div class="mb-3">
          <label for="pid" class="form-label">Select Price Category : </label>
          <select class="form-select" name="pid" required>
            {{#each rows}}
              <option value="{{this.pid}}">{{this.pname}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <label for="grp" class="form-label">Group No : </label>
          <input type="number" class="form-control" id="grp" name="grp" required>
        </div>
        <div class="mb-3">
          <label for="start" class="form-label">Select Start Date : </label>
          <input type="date" class="form-control" id="start" name="start" required>
        </div>
        <button type="submit" class="btn btn-primary">Add <i class="bi bi-plus-circle"></i></button>
      </form>
  </div>
</div>

<script>
  document.getElementById("start").min = "2024-01-01"; //yyyy-mm-dd
</script>